AuthorizationAPI.json
AzureContentSafety.json
AzureEventGrid.json
CoreAPI.json
GatekeeperAPI.json
GatekeeperIntegrationAPI.json
GatewayAPI.json
LangChainAPI.json
OrchestrationAPI.json
SemanticKernelAPI.json
VectorizationAPI.json
VectorizationWorker.json
StateAPI.json
GatewayAdapterAPI.json
AzureOpenAI.json
AzureAISearch.json
AzureEventGrid.json
OneDriveFileStoreConnector.json