azure-appconfiguration-provider==1.0.0
azure-identity==1.14.0
azure-keyvault-secrets==4.7.0
azure-monitor-opentelemetry==1.1.0
azure-storage-blob==12.18.2
email-validator==2.0.0.post2
fastapi==0.109.0
numpy==1.26.0
pylint==3.0.2
tenacity==8.2.3
uvicorn==0.27.0
