azure-appconfiguration-provider==1.0.0
azure-identity==1.16.0
azure-keyvault-secrets==4.7.0
azure-monitor-opentelemetry==1.2.0
azure-search-documents==11.4.0
azure-storage-blob==12.8.1
email-validator==2.1.1
fastapi==0.110.1
langchain==0.2.0
langchain-experimental==0.0.59
langchain-openai==0.1.7
-e git+https://github.com/microsoft/CLAP.git@1af3d710ee796dc96d3a96e2b1fdf66ef2520e63#egg=msclap
pylint==3.0.2
tenacity==8.2.3
uvicorn==0.29.0
