azure-appconfiguration-provider==1.2.0
azure-identity==1.17.1
azure-keyvault-secrets==4.8.0
azure-monitor-opentelemetry==1.6.2
azure-monitor-opentelemetry-exporter==1.0.0b28
azure-search-documents==11.5.1
azure-storage-blob==12.21.0
email-validator==2.2.0
fastapi==0.112.0
langchain==0.3.1
langchain-aws==0.2.1
langchain-experimental==0.3.2
langchain-openai==0.2.1
langgraph==0.2.32
-e git+https://github.com/microsoft/CLAP.git@1af3d710ee796dc96d3a96e2b1fdf66ef2520e63#egg=msclap
openai==1.40.2
pydantic==2.8.2
pylint==3.2.6
uvicorn==0.30.5
